<p id="notice"><%= notice %></p>

<p>
  <b>Property name:</b>
  <%= @property.property_name %>
</p>

<p>
  <b>Description:</b>
  <%= @property.description %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @property.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @property.address_line_2 %>
</p>

<p>
  <b>City:</b>
  <%= @property.city %>
</p>

<p>
  <b>Province or state:</b>
  <%= @property.province_or_state %>
</p>

<p>
  <b>Country:</b>
  <%= @property.country %>
</p>

<p>
  <b>Postal code:</b>
  <%= @property.postal_code %>
</p>

<p>
  <b>Number of units:</b>
  <%= @property.number_of_units %>
</p>

<p>
  <b>Person:</b>
  <%= @property.person_id %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
