<h1>Listing property_types</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>Display order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @property_types.each do |property_type| %>
  <tr>
    <td><%= property_type.property_type %></td>
    <td><%= property_type.description %></td>
    <td><%= property_type.display_order %></td>
    <td><%= link_to 'Show', property_type %></td>
    <td><%= link_to 'Edit', edit_property_type_path(property_type) %></td>
    <td><%= link_to 'Destroy', property_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property type', new_property_type_path %>
