<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @property_type.property_type %>
</p>

<p>
  <b>Description:</b>
  <%= @property_type.description %>
</p>

<p>
  <b>Display order:</b>
  <%= @property_type.display_order %>
</p>


<%= link_to 'Edit', edit_property_type_path(@property_type) %> |
<%= link_to 'Back', property_types_path %>
